.contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.contenedor h1 {
    color: #1f5a88;
    margin-bottom: 0;
}

.contenedor h2 {
    color: #1f5a88;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 19px;
}