.contenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.contenedor h1 {
    color:#1f5a88;
    margin-bottom: 0;
}

.contenedor h2 {
    color:#1f5a88;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 19px;
}

p {
    width: 70%;
    margin: 5px auto 0 auto;
}

.social_logo {
    margin: 8px auto 4px auto;
    padding: 6px 6px 5px 6px;
    text-decoration: none;
    color:#1f5a88;
    border-radius: 20px;
    transition: 0.3s;
}

.social_logo:hover {
    background-color: #1f5a88;
    color: white;
}

.insta {
    color: #1f5a88;
}